.Details {
  text-align: center;
}
table,
th,
tr,
td,
tbody {
  text-align: center;
  border: solid 1px black;
  border-collapse: collapse;
}
.strial {
  display: flex;
  justify-content: center;
}
.studenttable,
.mentortable,
.nomentor {
  margin-top: 1%;
  margin-bottom: 1%;
}
.Choose {
  text-align: center;
}
.Selectsection {
  text-align: center;
}
